.perspective-text {
  color: white;
  font-family: Arial;
  font-size: 58px;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;
  position: relative;
  right: 4%;
}

.perspective-line {
  height: 50px;
  overflow: hidden;
  position: relative;
}

.perspective {
  margin: 0;
  height: 50px;
  line-height: 50px;
  transition: all 0.5s ease-in-out;
  font-family: Arial;
}

.perspective-line:nth-child(odd) {
  transform: skew(60deg, -30deg) scaleY(0.667);
}

.perspective-line:nth-child(even) {
  transform: skew(0deg, -30deg) scaleY(1.337);
}

.perspective-text:hover p {
  transform: translate(0, -50px);
}

.perspective-line:nth-child(1) {
  left: 29px;
}

.perspective-line:nth-child(2) {
  left: 58px;
  background: var(--red_gradient);
}

.perspective-line:nth-child(3) {
  left: 87px;
  background: var(--blue_gradient);
}

.perspective-line:nth-child(4) {
  left: 116px;
  background: var(--yellow_gradient);
}

.perspective-line:nth-child(5) {
  left: 145px;
}
