.timeline {
  position: relative;
  background: var(--background);
  overflow-y: scroll;
  max-height: 100%;
}

.timeline ul li {
  margin: 50px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.point {
  min-width: 20px;
  height: 20px;
  background: var(--gradient_mozilla);
  border-radius: 100%;
  z-index: 2;
  border: 3px var(--blue) solid;
  position: relative;
  left: 1px;
}

.timeline ul li .content {
  width: 50%;
  padding: 0 20px;
}

.timeline ul li:nth-child(odd) .content {
  padding-left: 0;
}

.timeline ul li:nth-child(odd) .date {
  padding-right: 0;
}

.timeline ul li:nth-child(even) .content {
  padding-right: 0;
}

.timeline ul li:nth-child(even) .date {
  padding-left: 0;
}

.timeline ul li .date {
  width: 50%;
  padding: 0 20px;
  font-weight: normal;
}

.timeline ul li .date h4 {
  background-color: var(--lightblue);
  width: 200px;
  text-align: center;
  padding: 5px 10px;
}

.timeline ul li .content h3 {
  padding: 10px 20px;
  background-color: var(--blue);
  color: var(--white);
  margin-bottom: 0;
  text-align: center;
}

.timeline ul li .content p {
  padding: 10px 20px;
  background-color: var(--lightblue);
  margin-top: 0;
  text-align: center;
}

.timeline ul li:nth-child(even) {
  flex-direction: row-reverse;
}

.timeline ul li:nth-child(even) .date h4 {
  float: right;
}

.timeline::before {
  content: '';
  position: absolute;
  height: 100%;
  top: -50px;
  width: 6px;
  left: calc(50% - 2px);
  background-image: var(--blue_gradient_straight);
}
