@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Montserrat:wght@400;700&family=Lato:wght@300;400;700&display=swap');

:root {
  --red: #dd0100;
  --blue: #225095;
  --yellow: #fac901;
  --green: #1e8527;

  --coding: #00ff00;
  --lightblue: #7aa3e1;

  --black: #292929;
  --text: #000;
  --background: #eee;
  --white: #fff;

  --red_gradient: linear-gradient(70deg, #ff8b85 0%, #dd0100 100%);
  --red_gradient_flip: linear-gradient(-90deg, #ff8b85 0%, #dd0100 100%);
  --blue_gradient: linear-gradient(70deg, #6ec7ed 0%, #225095 100%);
  --blue_gradient_flip: linear-gradient(70deg, #225095 0%, #6ec7ed 100%);
  --blue_gradient_straight: linear-gradient(0deg, #6ec7ed 0%, #225095 100%);
  --yellow_gradient: linear-gradient(70deg, #ffd670 0%, #fac901 100%);
  --gradient_mozilla: linear-gradient(
    120deg,
    #6c52d9 0%,
    #1eaafc 85%,
    #3edfd7 100%
  );
  --light_gradient: linear-gradient(75deg, #eee 0%, #fff 100%);
  --dark_gradient: linear-gradient(300deg, #5D64EE 0%, #0F0C29 100%);
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

h1 {
  font: 72px 'Major Mono Display', monospace;
  text-transform: uppercase;
}

h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
}

p, li {
  font-family: 'Lato', sans-serif;;
  margin-bottom: 1.6em;
  font-size: 18px;
  font-weight: 300;
}

.bold {
  font-weight: 700;
}

ul {
  list-style: none;
}

section {
  display: inline-block;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

.layout {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
}

.text {
  background: var(--background);
  padding: 5% 5%;
  line-height: 1.6em;
  /* overflow-y: scroll; */
  /* max-height: 100%; */
}